@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexbetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexaround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flexcolumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@mixin btn-shadow {
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}


$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;


@media screen and (min-width: 260px) {
    .imgrestaurants {
    width: 100%;
    height: 255px;
    object-fit: cover;
}



.header_menu {
    @include flexaround;
}

    .menus {
        background: #f2f2f2f2;
        margin-top: -45px;
        border-radius: 35px 35px 0px 0px;

        &_nomresto {
            @include flexbetween;
            padding: 30px;
        }
        
    }

    .etapes {
        margin: 30px 0px 0px 15px;
        border-bottom: solid ;
        border-color: $couleur-tertiaire;
        width: 40px;
    }

    .presentationcarte {
        @include flexcolumn;
        
    }

    .plat {
            border-radius: 10px;
            background: white;
            padding: 15px;
            margin: 10px

        
            
        }


    .platcompos {
            @include flexbetween;
        }


        .taillecarteplat {
            width: 100%
        }



    .carte-plat {
            @include flexbetween;
            border-radius: 10px;
            background: white;
            padding: 15px;
            margin: 30px;
            cursor: pointer;
            box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 10%);

        &_prix-check {
            @include flexbetween;
            position: relative;

            &__check{
                z-index: -2;
                position: absolute;
                right: -15px;
                color: white;
                background: $couleur_tertiaire;
                padding: 15px;
                border-radius: 0 10px 10px 0;
            }
        &__prix{
            padding-right: 10px;
        }
        
        }
    }

    .carte_icon {
        font-size: 30px;
    
    }

    .carte_icon:hover {
        animation:  rotation-check 0.5s ease-in-out;
        transform-origin: right;
    }

    .carte_titre {
        
        font-weight: bold;
    }

    .carte_p {
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .carte_titre_p {
        margin-left: 20px;
        overflow: hidden;
        white-space: nowrap;
    }
    .carte-plat:hover .carte-plat_prix-check__prix {
        padding-right: 50px;
        transition: 0.5s ease-in-out;
    }

    .carte-plat:hover .carte-plat_prix-check__check {
        z-index: 10;
        animation: slide-left 0.5s ease-in-out;
        transform-origin: right;
    }

}





/**Définition des @keyframes*/

@keyframes rotation-check {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes slide-left {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scale(-50px);
    }
}


/*Keyframes Apparution des cartes plats derserts**/


@keyframes carte-descendante {
    0% {
        
        transform: translate(0.5);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.apparution-carte {
    transition: transform translate(6) 600ms ease-in-out;
    animation: carte-descendante 4s ;
   
}

#case-1 {
    
    animation-delay: 0.1ms;
}

#case-2 {
    animation-delay: 0.2ms;
}

#case-3 {
    animation-delay: 0.3ms;
}

#case-4 {
    animation-delay: 0.4ms;
}

#case-5 {
    animation-delay: 0.5ms;
}

#case-6 {
    animation-delay: 0.6ms;
}

#case-7 {
    animation-delay: 0.7ms;
}

#case-8 {
    animation-delay: 0.8ms;
}

#case-9 {
    animation-delay: 0.9ms;
}


////////////////////////
@media screen and (min-width: 1200px) {
    .entreplatdessert {
        display: flex;
        
       
    }
}

@media screen and (min-width: ≥ 1400px) {
    .entreplatdessert {
        display: flex;
        
       
    }
}