$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$police-principale: 'Roboto', sans-serif;
$police-logo: 'Shrikhand', cursive;

$color-sub1: rgb(235, 235, 235);
$color-sub2: rgb(245, 245, 245);
$color-sub3: rgb(50, 50, 50);


$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;