@import "../utils/variables";

@media screen and (min-width: 260px) {

    .Presentation {
    max-width: 1200px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



    div {
        margin-bottom: 15px;
    }

    .Presntation_rubriques {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        padding-right: 25px;
        border-radius: 15px;
        
        .Presentation_rubriques--icons {
            margin-right: 15px;
            margin-left: 30px;
            padding-top: 2px;

        }

        &:hover {
            cursor: pointer;
            background-color: #f2eafb;
            .fas{
                color: $couleur-primaire;
            }
        }

        p {
            background-color: #9356DC;
            color: white;
            position: absolute;
            padding: 3px 8px 3px 8px;
            border-radius: 600px;
            margin-left: -10px;
        }

    }
    

}

.margeTitre {
    margin: 0px 0px 15px 0px;

    h1 {
        font-weight: bold; 
    }    
}
}




/////////////

@media screen and (min-width: 576px) {
    .margeTitre {
        padding-top: 50px;  
    }

}

@media screen and (min-width: 768px) {
    
    .fonctionnement {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    
    .margeTitre {
        margin-right: 80%;
    }


}