@import "../utils/variables";

@media screen and (min-width: 260px) {
    
    footer {
        background: black;
        color: white;
        padding: 15px;

        P {
            padding: 5px;

            .icons {
                padding-right: 10px;
            }
        }
    }

    footer a {
        text-decoration: none;
        color: white;

        &:hover {
            color: $couleur-secondaire;
        }
    }

    .footer_logo {
        font-family: "Shrikhand", cursive;
        font-size: 30px;
        padding-bottom: 10px;
    }
    
}

