@media screen and (min-width: 260px) {
    
footer {
    background: black;
    color: white;
    padding-left: 10px;

P {
    padding: 5px;
    .icons {
        padding-right: 10px;
    }
}
img {
    width: 50%;
    height: auto;
    padding: 25px 5px 15px 5px;
    filter: invert(100%);
    object-fit: cover;
    }
    
}


    
}

